<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4"><strong>My</strong>Apartments</h1>
    <p class="lead">MyApartments is an application designed to facilitate the management and search of apartments, offering an intuitive interface for both owners and clients.</p>
    <hr class="my-4">
  </div>
  <div class="mt-5">
    <h2>Advertisements</h2>
    <p>This screen displays a list of registered advertisements, showing their details. It features buttons to edit or delete each advertisement. Also, by clicking an advertisement you can access to their details page.</p>
    <div style="width: 50%; background: #6c757d" class="border rounded"><img style="width: 100%; opacity: 85%" src="assets/images/advertisements.png" alt="Advertisements Image"/></div>
  </div>
  <div class="mt-5">
    <h2>Apartments</h2>
    <p>This screen displays a list of registered apartments, showing their details. It features buttons to edit or delete each apartment. Also, by clicking an apartment you can access to their details page.</p>
    <div style="background: #6c757d" class="border rounded"><img style="width: 100%; opacity: 85%" src="assets/images/apartments.png" alt="Apartments Image"/></div>
  </div>
  <div class="mt-5">
    <h2>Rooms</h2>
    <p>This screen displays a list of registered rooms, showing their details. It features buttons to edit or delete each room.</p>
    <div style="background: #6c757d" class="border rounded"><img style="width: 100%; opacity: 85%" src="assets/images/rooms.png" alt="Rooms Image"/></div>
  </div>
  <div class="mt-5">
    <h2>Documentation</h2>
    <p>This screen displays the API documentation, showing the available endpoints and their details.</p>
    <div style="background: #6c757d" class="border rounded"><img style="width: 100%; opacity: 85%" src="assets/images/documentation.png" alt="Documentation Image"/></div>
  </div>
</div>

<!--Footer-->
<footer class="modal-footer fixed-bottom bg-light">
  <div class="container">
    <div class="text-center">
      <div>
        <a href="https://github.com/UdL-EPS-SoftArch/myapartments-api" target="_blank" class="me-3">
          <i class="fab fa-github"></i> Spring Back-End
        </a>
        <a href="https://github.com/UdL-EPS-SoftArch/myapartments" target="_blank">
          <i class="fab fa-github"></i> Angular Front-End
        </a>
      </div>
    </div>
  </div>
</footer>
