<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-3" [routerLink]="['/about']"><b>My</b>Apartments</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <ng-container *ngFor="let item of menuItems">
          <li *ngIf="hasAccess(item)" class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" ngbDropdown>
            <a *ngIf="!item['submenu'].length" class="nav-link" [routerLink]="item['link']">{{ item['label'] }}</a>
            <a *ngIf="item['submenu'].length" class="nav-link dropdown-toggle" [id]="item['label'] + 'Dropdown'" role="button"
               aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>{{ item['label'] }}</a>
            <div *ngIf="item['submenu'].length" class="dropdown-menu"
                 [attr.aria-labelledby]="item['label'] + 'Dropdown'" ngbDropdownMenu>
              <a *ngFor="let subItem of item['submenu']" [routerLink]="subItem['link']" class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">{{ subItem['label'] }}</a>
            </div>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto me-3" app-login-navbar></ul>
  </div>
  
</nav>
