<div class="">
  <div class="row">
    <div class=" col-12 col-sm-6 col-md-4 col-lg-3 p-2" *ngFor="let ad of advertisements">
      <a class="no-color" href="{{ad.uri}}">
      <div class="card">
        <div class="card-block">
          <div class="card-header row m-1 text-center">
            <h5>{{ ad.title }}</h5>
          </div>
          <div class="card-body row m-1">
            <div class="col-md-6 p-3">
              <h6 class="card-subtitle text-muted">Price</h6>
              <p class="card-text">{{ ad.price | currency }}</p>
            </div>
            <div class="col-md-6 p-3">
              <h6 class="card-subtitle text-muted">Zip Code</h6>
              <p class="card-text">{{ ad.zipCode }}</p>
            </div>
            <div class="col-md-6 p-3">
              <h6 class="card-subtitle text-muted">Country</h6>
              <p class="card-text">{{ ad.country }}</p>
            </div>
            <div class="col-md-6 p-3">
              <h6 class="card-subtitle text-muted">Address</h6>
              <p class="card-text">{{ ad.address }}</p>
            </div>
            <div class="col-md-6 p-3">
              <h6 class="card-subtitle text-muted">Creation Date</h6>
              <p class="card-text">{{ ad.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            </div>
            <div class="col-12 p-3">
              <h6 class="card-subtitle text-muted">Description</h6>
              <p class="card-text">{{ ad.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>