<div *ngIf="canCreateRoom" class="container mt-5 w-50 p-3">
    <h1 class="mb-4">Create Apartment</h1>

    <form (ngSubmit)="onSubmit()" #roomForm="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Select apartment</label>
            <select class="form-select" id="apartmentSelect" required [(ngModel)]="this.apartmentId">
                <option value="" disabled>Select...</option>
                <option *ngFor="let apartment_value of apartments" [value]="apartment_value.id">
                    {{ apartment_value.name }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Is ocuppied ?</label>
            <select class="form-select" id="trueFalseSelectOcupied" required [(ngModel)]="this.room.isOccupied">
              <option value="" disabled>Select...</option>
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Has bed ?</label>
            <select class="form-select" id="trueFalseSelectHasBed" required [(ngModel)]="this.room.hasBed">
              <option value="" disabled>Select...</option>
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Has window ?</label>
            <select class="form-select" id="trueFalseSelectHasWindow" required [(ngModel)]="this.room.hasWindow">
              <option value="" disabled>Select...</option>
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Has desk ?</label>
            <select class="form-select" id="trueFalseSelectHasDesk" required [(ngModel)]="this.room.hasDesk">
              <option value="" disabled>Select...</option>
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="surface" class="form-label">Surface</label>
            <input type="number" id="surfaceInput" class="form-control" [(ngModel)]="this.room.surface" />

        </div>




        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

<div *ngIf="!canCreateRoom" class="container mt-5 w-50 p-3">
    <div class="alert alert-danger" role="alert">
        You are not authorized to create a Room.
    </div>
</div>