<div *ngIf="isAuthorized" class="container mt-5 w-50 p-3">

  @if (isLoading) {
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  }
  @else if (errorFetchMsg){
    <div class="alert alert-danger" role="alert">
      {{ errorFetchMsg }}
    </div>
  }
  @else {
    <h1 class="mb-4">Update Advertisement</h1>


    <form (ngSubmit)="onSubmit()" [formGroup]="advertisementForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" formControlName="title" class="form-control" id="title" required [(ngModel)]="advertisement.title" name="title">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" formControlName="description" class="form-control" id="description" required [(ngModel)]="advertisement.description" name="description">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" formControlName="price" class="form-control" id="price" required [(ngModel)]="advertisement.price" name="price">

      </div>

      <div class="mb-3">
        <label for="zipCode" class="form-label">Zip Code</label>
        <input type="number" formControlName="zipCode" class="form-control" id="zipCode" required [(ngModel)]="advertisement.zipCode" name="zipCode">
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" formControlName="country" class="form-control" id="country" required [(ngModel)]="advertisement.country" name="country">
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" formControlName="address" id="address" rows="3" required [(ngModel)]="advertisement.address" name="address" style="resize: vertical; min-height: 100px; max-height: 300px;"></textarea>
      </div>

      <div class="mb-3">
        <button [routerLink]="['/apartment/create']" type="button" class="btn btn-secondary">Add Apartment</button>
      </div>


      <button type="submit" class="btn btn-primary mt-3">Submit</button>
      <button type="button" (click) = onCancel() class="btn btn-danger mt-3 fa-pull-right">Cancel</button>
    </form>



    <div *ngIf="!isAuthorized" class="container mt-5 w-50 p-3">
      <div class="alert alert-danger" role="alert">
        You are not authorized to create an apartment.
      </div>
    </div>

  }
</div>
